* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100vh;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  position: relative;
  font-family: system-ui, sans-serif;
  background-color: #3c5235;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  color: #fff;
}

#field-container {
  width: 600px;
  height: 600px;
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3333333333);
          box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3333333333);
  border-radius: 10px;
  overflow: hidden;
  background-color: #e1ffe4;
  border: 1px solid #acd4a9;
  display: grid;
}

.square {
  aspect-ratio: 1/1;
  background-color: #e1ffe4;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}
.square--dark {
  background-color: #bae8b7;
}
.square.active {
  background-color: #0e3b00;
}
.square.body {
  background-color: #44bb20;
}
.square.apple {
  background-color: red;
}

.popup-banner {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.583);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.popup-banner.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
}
.popup-banner__text {
  font-size: 60px;
  font-weight: 700;
  color: #e1ffe4;
}
.popup-banner button {
  padding: 15px;
  background-color: #44bb20;
  color: #e1ffe4;
  font-size: 36px;
  font-weight: 600;
  border-radius: 8px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.popup-banner button:hover {
  background-color: #0e3b00;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.popup-banner button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6666666667);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.6666666667);
}