@import "utils/fonts";
@import "utils/icons";
@import "utils/null";

body {
  position: relative;
  font-family: system-ui, sans-serif;
  background-color: #638889;

  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
  .loaded & {
  }
}

[class*="__container"] {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  > main {
    flex: 1 1 auto;
  }
  > * {
    min-width: 0;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  color: #fff;
}

.game-field {
  width: 600px;
  height: 600px;
  box-shadow: 10px 10px 50px #00000055;
  border-radius: 10px;
  overflow: hidden;

  background-color: #9dbc98;
  border: 1px solid #acd4a9;

  display: grid;
}

.popup-banner {
  visibility: hidden;
  opacity: 0;

  transition: all 500ms ease;
  &.active {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.583);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  // .popup-banner__text
  &__text {
    font-size: 60px;
    font-weight: 700;
    color: #e1ffe4;
  }
  button {
    padding: 15px;
    background-color: #44bb20;

    color: #e1ffe4;
    font-size: 36px;
    font-weight: 600;
    border-radius: 8px;

    transition: all 200ms ease;

    &:hover {
      background-color: #0e3b00;
      box-shadow: 0 0 20px #00000033;
    }
    &:active {
      transform: scale(0.95);
      box-shadow: 0 0 20px #000000aa;
    }
  }
}

.footer {
  &__container {
    background-color: #ebd9b4;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__icons {
    display: flex;
  }
  &__icon {
  }
}

@import "components/square";
