.game-field {
  width: 550px;
  height: 550px;
  box-shadow: 10px 10px 50px #00000055;
  border-radius: 10px;
  overflow: hidden;

  background-color: var(--yellow-400);
  border: 3px solid var(--green-500);

  display: grid;
}
