.game-field {
  aspect-ratio: 1/1;
  width: 550px;
  box-shadow: 10px 10px 50px #00000055;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: 768px) {
    & {
      width: 450px;
    }
  }

  @media (max-width: 500px) {
    & {
      width: 320px;
    }
  }

  @media (max-width: 350px) {
    & {
      width: 290px;
    }
  }

  background-color: var(--yellow-400);
  outline: 3px solid var(--green-400);
  display: grid;

  transition: outline 300ms ease;
  &.game-over {
    animation: vibrate 0.3s linear 1 both;
    outline: 3px solid #c62017;
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(5px, -5px);
  }
  40% {
    transform: translate(5px, 5px);
  }
  60% {
    transform: translate(-5px, 5px);
  }
  80% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}
