.footer {
  position: relative;
  z-index: 52;
  color: #fff;
  font-weight: 500;
  &__container {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;

    @media (max-width: 768px) {
      & {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px 30px;
    flex-wrap: wrap;

    background-color: var(--green-500);
  }
  &__icons {
    display: flex;
    gap: 15px;

    @media (max-width: 768px) {
      & {
        gap: 10px;
      }
    }
  }
  &__link {
    padding: 5px;
    font-size: 28px;

    @media (max-width: 768px) {
      & {
        font-size: 22px;
      }
    }

    transition: color 300ms ease;
    @media (any-hover: hover) {
      &:hover {
        color: var(--orange-400);
      }
    }
  }
  &__icon {
  }

  &__text {
    @media (max-width: 445px) {
      & {
        display: none;
      }
    }
  }
}
