.header {
  position: fixed;
  width: 100%;
  z-index: 53;
  &__container {
    padding-top: 20px;
    padding-bottom: 10px;

    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
      font-size: 28px;
      font-weight: 700;

      @media (max-width: 520px) {
        & {
          font-size: 24px;
        }
      }
    }
  }
  &__score {
    color: #fff;
  }
  &__high-score {
    color: var(--orange-400);
  }
  &__counter {
  }
}
