.square {
  aspect-ratio: 1/1;
  background-color: var(--yellow-300);
  transition: background-color 100ms ease;
  &.dark {
    background-color: var(--yellow-400);
  }
  &.snake-body {
    background-color: #44bb20;
    border: 0.1px solid var(--green-400);
  }
  &.apple {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 12.5%;
      left: 12.5%;

      width: 75%;
      height: 75%;
      background-color: #c62017;
      border-radius: 50%;

      animation: blink 0.8s 1 both;
    }
  }
  &.snake-head {
    background-color: #0e3b00;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
